.navbar{
    position:relative;
    height:4rem;
}

/* Colors for navbar */
.navDropDown,.menu,.navbar{
    background-color: #2b2b2b;
    color:white;
}

/* Background when menu is open */
.expand::before{
    content:'';
    position:fixed;
    top:4rem;
    right:0;
    width:100vw;
    height:calc(100vh - 4rem);
    background-color: black;
    opacity:0.4;
}

/* Menu button to open drop down */
.menu{
    padding:1rem;
    width:fit-content;
    height:2rem;
    margin-left:auto;
    cursor: pointer;
}
.menuImg{
    width:2rem;
}

/* Dropdown menu */
.navDropDown{
    position:absolute;
    top:3.9rem;
    right:0;
    padding:1rem;
    border-bottom-left-radius:0.3rem;
}

/* toggles dropdown */
.hideNav{
    display:none;
}

/* Size of links */
.navLink{
    padding:1rem;
    font-size: 1.1rem;
    cursor: pointer;
}


/* Makes static navbar after 500px */
@media screen and (min-width:500px) {
    .hide{
        display:flex;
    }
    .menu{
        display:none;
    }
    .navDropDown{
        display:flex;
        justify-content: space-around;
        position:relative;
        top:0;
        padding:0.25rem;
        border-radius: 0;
    }
    .expand::before{
        opacity:0;
    }
}